* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #212529;
}

.wrapper {
    margin: 50px 100px;
}

.wrapper>* {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: larger;
}

.form {
    height: 40px;
}

.annotation {
    display: inline-block;
    width: 100%;
    color: #000000a8;
    font-size: larger;
    margin-bottom: 30px;
}

.statistics {
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(144, 139, 249, 0.1);
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px;

}

#habit-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: center;
    margin-top: 30px;
    border-radius: 12px;
}

.habit-el {
    border-radius: 12px;
    text-align: left;
    padding: 20px;
    width: 90%;
    background-color: #ffffffb8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin: 20px 10px 0 0px;
}

.right {
    float: right;
}

#app {
    position: relative;
}

#edit-modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 14px rgba(108, 99, 255, 0.5);
    padding: 20px;
}

#edit-modal label,
#edit-modal input,
#edit-modal select {
    margin: 5px;
    border: none;
    height: 90%;
    border-radius: 12px;
}

#edit-modal input,
#edit-modal select {
    background-color: #f8f9fa;
}

#edit-modal button {
    border-radius: 12px;
    border: none;
    padding: 12px;
}

.hidden {
    opacity: 0;
}

#addHabit_button {
    background: #6c63ff;
    border: none;
    padding: 12px 28px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 4px 14px rgba(108, 99, 255, 0.4);
    transition: all 0.15s ease;
    cursor: pointer;
}

#addHabit_button:hover {
    box-shadow: 0 2px 6px rgba(108, 99, 255, 0.5);
    transform: translateY(-2px);
}

#addHabit_button:active {
    box-shadow: 0 2px 6px rgba(108, 99, 255, 0.3);
    transform: translateY(0px);
}

.form-el {
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    box-shadow: 0 4px 14px rgba(108, 99, 255, 0.2);
}